{% load component_tags %}
<!-- filepath: core/templates/components/formModal.html -->
<form action="{{ form.action }}" method="{{ form.method }}" id="{{ form.id }}" tabindex="-1" aria-hidden="true" class="fixed left-0 right-0 top-0 z-50 hidden h-modal w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0 md:h-full" data-multi="{{ form.multi }}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="relative h-full w-full max-w-xl">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow overflow-hidden">
      <!-- Modal header -->
      <div class="flex items-start justify-between rounded-t p-4 md:p-5">
        <h3 class="text-lg font-normal text-gray-500">{{ form.title }}</h3>
        <button type="button" class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-100 hover:text-gray-900" data-modal-toggle="{{ form.id }}">
          <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="px-4 md:px-5 overflow-auto">
        {% slot "modal_body" %}
        {% endslot %}
      </div>
      <!-- Modal footer -->
      <div class="flex items-center space-x-4 rounded-b p-4 md:p-5">
        {% slot "modal_footer"%}
        {% endslot %}
      </div>
    </div>
  </div>
</form>