* {
    font-family: Poppins, sans-serif !important;
    --bg-white: #fff;
    --bg-dark: #000;
}

.decoration{
}

body {
    height: 100dvh;
}

#left_img {
    filter: drop-shadow(0 40px 60px rgb(206, 206, 206)) ;
    z-index: -1;
}

#right_img {
    filter: drop-shadow(0 40px 60px rgb(206, 206, 206));
    z-index: -1;
}
