{% extends "_base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'src/core/css/styles.css' %}">
{% endblock head %}

{% block navbar %}
  {% include "navbar.html" %}
{% endblock navbar %}

{% block color-nav %}orange-400{% endblock %}

{% block content %}
    <section class="flex w-9/10 h-full mx-auto justify-between px-15 pt-27 items-center">

        <div id="background" class="absolute z-[-1] top-0 left-0 w-6/10 h-full bg-[#ffb730] rounded-r-full transform transition-transform duration-1000 ease-in-out"></div>

        <div id="background-svg" class="w-1/2 transform transition-transform duration-1000 ease-in-out">
            <img class="w-auto rounded" src="{% static 'auth_app/img/undraw_shopping-app_b80f.svg' %}" alt="Icone de compra">
        </div>

        <div id="form-container" class="max-w-sm mt-6 p-4 mr-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 transform transition-transform duration-1000 ease-in-out">
            {% if errors %}
            <div class="alert alert-danger" role="alert">
                {{errors}}
              </div>
            {% endif %}
            <form class="space-y-5" method="post">
                {% csrf_token %}
                <h3 class="text-xl bold font-medium text-black-800">Faça login</h3>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-[#0D1117]">Email</label>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Digite o seu email" required />
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-[#0D1117]">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite a sua senha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    
                </div>
                <div class="flex items-start gap-3">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input id="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300" />
                        </div>
                        <label for="remember" class="ms-2 text-sm font-medium text-gray-500">Lembrar de mim</label>
                    </div>
                    <a href="javascript:void(0);" class="text-sm text-orange-400 hover:underline">Esqueceu sua senha?</a>
                </div>
                <button type="submit" class="w-full text-white bg-orange-400 hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Entrar</button>
                <div class="text-sm font-medium text-gray-500">
                    Não tem uma conta? <a href="{% url 'signup' %}" id="login-link" class="text-orange-400 hover:underline">Crie agora</a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}


{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const loginLink = document.getElementById('login-link');
      const backgroundSvg = document.getElementById('background-svg'); // SVG do fundo
      const formContainer = document.getElementById('form-container'); // Formulário
      const background = document.getElementById('background'); // Div de fundo animada
  
      if (loginLink && backgroundSvg && formContainer && background) {
        loginLink.addEventListener('click', function (e) {
          e.preventDefault();
  
          // ANIMAÇÃO: Move o background para a direita
          background.classList.remove('rounded-r-full');
          background.classList.add('rounded-l-full');
          backgroundSvg.classList.add('translate-x-full');
          background.classList.add('translate-x-4/6');
  
          // ANIMAÇÃO: Move o formulário para a esquerda
          formContainer.classList.add('z-[-2]');
          formContainer.classList.add('-translate-x-235');
  
          // Redireciona após a animação (1000ms)
          setTimeout(() => {
            window.location.href = loginLink.href;
          }, 1000);
        });
      } else {
        console.error('Elementos não encontrados para a animação!');
      }
    });
  </script>
{% endblock scripts %}  